// *, *::before, *::after {
//     box-sizing: border-box;
// }
body {
    margin: 0;
    padding: 0;
    font-family: Futura;
}
header {
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100%;

    div {
        display: flex;
    }
}
.nav-toggle {
    display: none;
}
.nav-toggle-label {
    position: relative;
    top: 65px;
    height: 100%;
}
.nav-toggle-label span,
.nav-toggle-label span::before{
    display: block;
    background: linear-gradient(#AB00FF, #007BFF);
    height: 1px;
    border-radius: 3px;
    margin: 0 .938em 0 0;
}
.nav-toggle-label span {
    width: 1.750em;
    right: 40px;
    margin-bottom: .5em;

} 
.nav-toggle-label span::before {
    width: 2.29em;
    right: 9px;
}

.nav-toggle-label span::before {
    content: '';
    position: relative;
}
.nav-toggle-label span::before {
    bottom: 7px;
}
.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
nav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out; 
    right: 60px;
    top: 75px;

    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        margin: 0 0 1.5em 0;
    }

    a {
        color: black;
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }
    button {
        font-family: Futura;
        background: linear-gradient(196.2deg, #AB00FF -34.29%, #007BFF 136.11%);
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.24);
        border-radius: 100px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        justify-content: center;
        font-style: normal;
        font-weight: bold;
        color: white;
        padding-bottom: .5em;
    }
}
.nav__img {
    width: 50%;
    margin: 2.813em 0 0 .938em;
}
.hero {
    display: flex;
    flex-direction: column;
}
.hero__backgrd {
    display: flex;
    flex-direction: column;
}
.hero__bkgrd img {
    position: relative;
    width: 100%;
    height: 481px;
    top: 189px;
}
.hero__header {
    position: relative;
    width: 40%;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #393939;
    bottom: 320px;
    margin: 0 0 0 .938em;
}
.hero__info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__info img {
    position: relative;
    width: 94%;
    bottom: 225px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.25);
}
.features__hdr {
    position: relative;
    width: 90%;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    margin: 0 0 0 .8em;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: -webkit-linear-gradient(#AB00FF, #007BFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 375px;
}
.card__ctn {
    display: flex;
    flex-direction: column;
    margin: 1.2em;
    justify-content: center;
    align-items: center;
}
.card1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
    padding: .5em 1em .5em 1em;
    top: 450px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    p {
        position: relative;
        top: 25px;
        font-family: Futura;
        font-style: normal;
        text-align: left;
        font-weight: 500;
        font-size: 19px;
        line-height: 24px;
        letter-spacing: 0.447369px;
        color: #393939;
        margin: 0 0 0 1em;
        }
    img {
        position: relative;
        width: 5%;
        bottom: 25px;
    }
}
.card2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
    top: 475px;
    padding: .5em 1em .5em 1em;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    p {
        position: relative;
        top: 22px;
        font-family: Futura;
        font-style: normal;
        text-align: left;
        font-weight: 500;
        font-size: 19px;
        line-height: 24px;
        letter-spacing: 0.447369px;
        color: #393939;
        margin: 0 0 0 1em;
        }
    img {
        position: relative;
        width: 5%;
        bottom: 25px;
        }
}
.card3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    top: 500px;
    width: 90%;
    padding: .5em 1em .5em 1em;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    p {
        position: relative;
        top: 22px;
        font-family: Futura;
        font-style: normal;
        text-align: left;
        font-weight: 500;
        font-size: 19px;
        line-height: 24px;
        letter-spacing: 0.447369px;
        color: #393939;
        margin: 0 0 0 1em;
        }
    img {
        position: relative;
        width: 5%;
        bottom: 25px;
    }
}
.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        position: relative;
        width: 100%;
        top: 545px;;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.25);
        }
}
.integrations {
    display: flex;
    justify-content: center;
    align-content: center;
    // align-items: center;
    position: relative;
    margin: 0 0 0 .938em;
    h2 {
        position: relative;
        width: 85%;
        top: 750px;
        font-family: Futura;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.5px;
        text-align: left;
        background: -webkit-linear-gradient(#AB00FF, #007BFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
     }
}
.integrations__img {
    display: grid;
    position: absolute;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    top: 1000px;
    margin: 0;

    .row1, .row2, .row3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        position: relative;
        }

    .slack img{
        position: relative;
        width: 80%;
        padding-bottom: 4em;
        }
        .trello img {
            position: relative;
            width: 80%;
            padding-bottom: 4em;
            left: 20px;
        }
        .google img {
            position: relative;
            width: 80%;
            padding-bottom: 4em;
            }
        .jira img {
            position: relative;
            width: 80%;
            padding-bottom: 4em;
            left: 20px;
        }
        .asana img {
            position: relative;
            width: 75%;
            padding-top: 4em;
            left: 100px;
        }
    }
footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2800px;
    width: 100%;
    height: 50vh;
    background: linear-gradient(229.93deg, #AB00FF -21.91%, #007BFF 133.89%);
}
.footer {
    h2 {
        position: relative;
        font-family: Futura;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        color: white;
        padding: 1em 0 0 0;
    }
}
footer form {
    input {
        border-style: hidden;
        padding: .5em;
        width: 15em;
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.4;
        border-radius: 34.5px;
    }
    button {
        background-color: white;
        width: 7em;
        padding: .5em;
        border-radius: 1em;
        border-style: hidden;
    }
}
.footer__navctn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .ftr__nav li {
        background-color: white;
    }
}